@import '../../Sass/Base/variables';

.cart {
    margin-top: 105px;
    margin-bottom: 25px;

    &__content {
        margin-top: 60px;
    }

    &__productlayout {
        margin-bottom: 25px;

        ul {
            li {
                list-style-type: none;
                margin-bottom: 10px;

                a {
                    color: $product-text;

                    &:hover {
                        text-decoration: none;
                    }
                }

            }
        }
    }

    &__btn {
        text-align: right;

        .btn-1 {
            background: $teritary-color;
            border: 2px solid #B5B8BA;
            border-radius: 50%;
            height: 32px;
            width: 32px;
            margin-right: 10px;
        }

        .btn-2 {
            background: $teritary-color;
            border: 2px solid #B5B8BA;
            border-radius: 50%;
            height: 32px;
            width: 32px;
            margin-left: 10px;
        }

        input {
            border: 2px solid #B5B7BC;
            border-radius: 8px;
            width: 80px;
            height: 40px;
            text-align: center;
        }
    }

    h1 {
        text-align: center;
        color: $product-text;
        font-size: 48px;
        position: relative;
    }

    h1::before {
        content: "";
        background-color: $primary-color;
        width: 10%;
        position: absolute;
        height: 5px;
        bottom: -25%;
        left: 44%;
        border-radius: 6px;
    }

    &__image img {
        width: 100%;
    }

    &__details {
        padding: 0 20px;
        display: block;

        h5 {
            font-size: 20px;
            font-weight: 600;
            color: $product-text;
            margin-top: 0;
            height: 25px;
            overflow: hidden;
        }

        p {
            font-size: 16px;
            color: $product-text;
            margin-bottom: 5px;
        }
    }

    &__right {
        border: 1px solid #D1D3D6;
        padding: 15px 15px 25px 15px;

        h4 {
            font-size: 20px;
            color: $product-text;
            text-align: center;
        }

        &-subtotal {
            @include flex-props;
        }

        &-coupon {
            @include flex-props;
        }

        &-giftcard {
            @include flex-props;
        }

        &-tax {
            @include flex-props;
        }

        &-ship {
            @include flex-props;
        }

        &-total {
            @include flex-props;
        }

        .checkbtn {
            width: 85%;
            padding: 5px;
            text-align: center;
            margin: auto;
            display: block;
            margin-top: 15px;

            i {
                padding-right: 10px;
            }
        }

        img {
            width: 85%;
            display: block;
            margin: auto;
            margin-top: 10px;

        }
    }

}